.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.loginHeading {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0055b3;
}
