.mainNav {
  position: fixed;
  top: 70px;
  height: 100%;
}
.navcontainer {
  position: fixed;
  width: 70px;
  height: 100%;
  background-color: #242526;
  /* box-shadow: 3px 0px 6px 0px rgba(182, 61, 61, 0.75); */
  transition: all 0.5s ease-in-out;
}
.activenavcontainer {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #242526;
  /* box-shadow: 3px 0px 6px 0px rgba(246, 246, 246, 0.75); */
  transition: all 0.5s ease-in-out;
}
.wrapper {
  padding: 10px;
  z-index: 1;
}
.logo {
  padding: 10px;
  padding-left: 22px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.activewrapper > ul > li > a {
  opacity: 0;
}
.activewrapper > ul > p {
  opacity: 0;
}
.activewrapper > ul {
  margin-top: 66px;
  font-size: larger;
  gap: 20px;
  color: rgb(255, 255, 255);
  margin-left: 15px;
  list-style: none;
}
.wrapper > ul {
  margin-top: 20px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
}
.wrapper > ul > li {
  color: #fff;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  opacity: 0.6;
}
.wrapper > ul > p {
  color: #d6d4d4;
  padding-left: 10px;
  font-size: small;
}
.wrapper > ul > li > a {
  padding: 6px;
}
.wrapper > ul > li > a:hover {
  color: hsl(0, 0%, 100%);
  /* font-size: 22px; */
  padding-left: 2px;
  transition: all 0.2s;
}
@media only screen and (max-width: 768px) {
  .logo > h2 {
    opacity: 0;
  }
  .logo {
    background: url("/vercel.svg");
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
  }

  .wrapper > ul > li > a {
    opacity: 1;
  }
}

/* header */
.headcontainer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: #242526;
}
.headwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 7px;
}
.title > h2 {
  color: #fff;
  font-size: medium;
}

.title > p {
  color: #fff;
  font-size: small;
}

@media only screen and (max-width: 768px) {
  .headcontainer {
    width: 100%;
  }
  .profile {
    right: 5px;
  }
}
/* contetn section */

.contentcontainer {
  margin-bottom: 100px;
  position: relative;
  top: 80px;
  z-index: -1;
  color: rgb(255, 255, 255);
}
.contentwrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 40px;
  margin-left: 60px;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 0px 6px 0px rgb(246, 246, 246.75);
  padding: 15px;
  font-size: smaller;
}
.categories {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.categories > li {
  padding: 4px;
}
.tabs1 {
  background-color: #200899;
}
.tabs2 {
  background-color: #cc9900;
}
.tabs3 {
  background-color: #145214;
}
.tabs4 {
  background-color: #800000;
}
.categories > li {
  list-style: none;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .contentcontainer {
    margin-left: 70px;
    display: flex;
    justify-content: center;
  }
  .contentwrapper {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .tabs {
    width: 350px;
  }
}
@media only screen and (max-width: 446px) {
  .tabs {
    width: 250px;
  }
}
/* charSection */
.bothchart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chartcontainer {
  width: 500px;
  height: 320px;
}

.linechartcontainer {
  width: 500px;
  height: 320px;
}

@media only screen and (max-width: 768px) {
  .bothchart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bothchart {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 582px) {
  .chartcontainer {
    width: 382px;
    height: 320px;
  }

  .linechartcontainer {
    width: 382px;
    height: 320px;
  }
}
@media only screen and (max-width: 446px) {
  .chartcontainer {
    width: 299px;
    height: 320px;
  }

  .linechartcontainer {
    width: 299px;
    height: 320px;
  }
}
.profile {
  position: absolute;
  right: 50px;
  margin-top: 13px;
}
.image {
  cursor: pointer;
}
.hamburger {
  cursor: pointer;
  position: absolute;
  right: 26px;
  top: 25px;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(-5.5px);
}
.hamburger::after {
  content: " ";
  position: absolute;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(5.5px);
}
.activehamburger {
  cursor: pointer;
  width: 30px;
  height: 7px;
  background: transparent;
  border-radius: 5px;
  transition: all 0s ease-in-out;
}
.activehamburger::before {
  content: "";
  position: absolute;
  right: 50px;
  top: 25px;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg) translate(35px, -35px);
}
.activehamburger::after {
  content: "";
  position: absolute;
  right: 50px;
  top: 25px;
  width: 30px;
  height: 7px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg) translate(35px, 35px);
}

/* layout dropdown */
.dropdownMenu1 > li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  font-size: medium;
}
.dropdownMenu1 > li:hover {
  color: #d6d4d4;
  transition: all 1s ease-in-out;
}

/* login */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.loginHeading {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0055b3;
}
/* footer */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footerpara {
  max-width: 1200px;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-left: 26px;
  margin-bottom: 12px;
}

.searchBar input {
  flex: 1;
  border: none;
  background: none;
  padding: 4px;
  font-size: 16px;
}

.searchBar input:focus {
  outline: none;
}

.searchButton {
  background-color: blue;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton img {
  width: 20px;
  height: 20px;
  fill: white;
}

@media only screen and (max-width: 590px) {
  .searchBar {
    opacity: 0;
  }
}
